@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600;700&display=swap");
@import "./variabels.css";
@import "./utils.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body, a {
  font-family: var(--font-main);
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-text);
  background-color: var(--cpl-5);
  height: 100%;
}
.container {
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
  padding-inline: 15px;
}
input, button {
  border: none;
  background: none;
  outline: none;
  font: inherit;
  color: inherit;
}
button:hover {
  cursor: pointer;
}
li {
  list-style: none;
  margin: 0;
  padding: 0;
}
footer {
  background-color: #fff;
}
