:root {
  --cpl-7: #ccddea83;
  --cpl-6: #CCDDEA;
  --cpl-5: #caf0f899;
  /* --cpl-5: #caf0f83a; */
  --cpl-4: #90E0EF;
  --cpl-3: #00B4D8;
  --cpl-2: #0077B6;
  --cpl-1: #03045E;
}
:root {
  --font-main: "Inter", sans-serif;

  --color-text: #2c3955;
}
